In [4]:
if(a>b):
        great=a
    else:
        greater=b
    while(1):
        if(greater%a==0 and greater%b==0):
            lcm=greater
            print("LCM is:",lcm)
            break
        greater+=1
a=int(input("Enter the first number:"))
b=int(input("Enter the second number:"))
lcm(a,b)

Enter the first number:12
Enter the second number:20
LCM is: 60

In [11]:
def calculate(a,b):
    if op == '+':
        return a + b
    elif op == '-':
        return a - b
    elif op == '*':
        return a * b
    elif op == '/':
        return a / b
    elif op == '**':
        return a ** b
    else:
        return "Enter valid operator"
a=float(input("Enter first number"))
b=float(input("Enter second number"))
op=input("Enter an operator(+,-,*,/,**)")
print(a,op,b)
result=calculate(a,b)
print("=",result)

Enter first number1
Enter second number2
Enter an operator(+,-,*,/,**)**
1.0 ** 2.0
= 1.0

In [13]:
l1=[1,2,3,4]
l2=[2,3,4,5]
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5]

In [14]:
l1=[1,2,3,4]
l2=[2,3,4,5]
for i in l2:
    l1.append(i)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5]

In [16]:
l1=[2,3,4,5,6]
t1=(2,4,65,7)
print("List elements are:")
print(l1)
print("Lists are mutable")
l1[3]=22
print(l1)
print("Tuple elements are: ")
print(t1)
print("Lists are immutable")
t1[3]=23
print(t1)

List elements are:
[2, 3, 4, 5, 6]
Lists are mutable
[2, 3, 4, 22, 6]
Tupple elements are:
(2, 4, 65, 7)
Lists are immutable

TypeError: 'tuple' object does not support item assignment

In [30]:
l1=[34,56,78,99]
t1=(9,7,5,2,3)
print("List:")
print("Length=",len(l1))
print("Maximum=",max(l1))
print("Minimum=",min(l1))
print("Sum=",sum(l1))
print("Soreted list=",sorted(l1))
print("Tuple:")
print("Length=",len(t1))
print("Maximum=",max(t1))
print("Minimum=",min(t1))
print("Sum=",sum(t1))
print("Soreted tuple=",tuple(sorted(t1)))

List:
Length= 4
Maximum= 99
Minimum= 34
Sum= 267
Soreted list= [34, 56, 78, 99]
Tuple:
Length= 5
Maximum= 9
Minimum= 2
Sum= 26
Soreted tuple= (2, 3, 5, 7, 9)

In [36]:
l1=[34,56,78,99]
t1=(9,7,5,2,3)
string="Demonstartion"
print(l1)
print(t1)
print("After converting")
print(list(t1))
print(tuple(l1))
print(list(string))

[34, 56, 78, 99]
(9, 7, 5, 2, 3)
After converting
[9, 7, 5, 2, 3]
(34, 56, 78, 99)
['D', 'e', 'm', 'o', 'n', 's', 't', 'a', 'r', 't', 'i', 'o', 'n']

In [68]:
dict1=dict({"name":"Chiru","age":21})
print(dict1)

#print(dict1["name"])

dict2=dict1.copy()
print(dict2)

key=['a1','a2','a3']
val=100
c=dict.fromkeys(key,val)
print(c)

x=dict1.get("age")
print(x)

item=dict1.items()
print(item)

key=dict1.keys()
print(key)

c.pop('a3')
print(c)

c.popitem()

x = dict1.setdefault("city", "Mangalore")
print(x)

dict1.update({"place": "Mulki"})
print(dict1)

print(dict1.values())

c.clear()
print(c)

{'name': 'Chiru', 'age': 21}
{'name': 'Chiru', 'age': 21}
{'a1': 100, 'a2': 100, 'a3': 100}
21
dict_items([('name', 'Chiru'), ('age', 21)])
dict_keys(['name', 'age'])
{'a1': 100, 'a2': 100}
Mangalore
{'name': 'Chiru', 'age': 21, 'city': 'Mangalore', 'place': 'Mulki'}
dict_values(['Chiru', 21, 'Mangalore', 'Mulki'])
{}

In [79]:
l1=[10,20,30,40,90,120,45]
print(l1[::2])
print(l1[1::3])
print(l1[::-1])
print(l1[-3::1])

[10, 30, 90, 45]
[20, 90]
[45, 120, 90, 40, 30, 20, 10]
[90, 120, 45]

In [84]:
def second(l1):
    length=len(l1)
    l1.sort()
    print("Second largest",l1[length-2])
    print("Second smallest",l1[1])
l1=[12,34,56,1,23]
second(l1)

Second largest 34
Second smallest 12

In [92]:
num=int(input("Enter a number "))
result="ODD"
if num%2==0:
    result="Even"
print(result)

Enter a number 4
Even